:global {
	body[data-theme='light'] {
		--footer-color: var(--gray-300);
	}

	body[data-theme='dark'] {
		--footer-color: var(--white);
	}
}

.footer {
	margin: 35px 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.text {
	color: var(--footer-color);
	font-size: 0.875rem;
	line-height: 1.5;
	font-weight: 300;
}